{% extends "base.html" %} {% block title %}About Us{% endblock %} {% block
content %}
<div class="container mt-5">
  <div class="text-center mb-4">
    <h1>About Us</h1>
    <p class="lead">Learn more about our project and me.</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>About the Project</h2>
      <p>
        This project is a comprehensive pharmacy management system developed as
        part of the CS50 course final project.
      </p>
      <h2>About the Developer</h2>
      <p>
        <strong>Mohammed Aleshawi</strong> is a 20-year-old programmer from the
        Kingdom of Saudi Arabia. With a passion for self-learning and
        programming, Mohammed has worked on various projects, focusing on web
        development, software development, and game development.
      </p>
      <p>
        This project was developed using a range of technologies including HTML,
        CSS, JavaScript, Bootstrap, MySQL, and Flask.
      </p>
    </div>
  </div>
</div>
{% endblock %}
