{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<div class="container text-center mt-5">
  <h1>Welcome to the Dashboard</h1>
  <p>You are logged in as a {{ role }}</p>
  <div class="row mt-4">
    {% if role == 'Admin' %}
    <div class="col-md-4">
      <a
        href="{{ url_for('admin_dashboard') }}"
        class="btn btn-primary btn-block"
        >Admin Dashboard</a
      >
    </div>
    {% endif %} {% if role == 'Pharmacist' %}
    <div class="col-md-4">
      <a
        href="{{ url_for('pharmacist_dashboard') }}"
        class="btn btn-primary btn-block"
        >Pharmacist Dashboard</a
      >
    </div>
    {% endif %} {% if role == 'Customer' %}
    <div class="col-md-4">
      <a
        href="{{ url_for('customer_dashboard') }}"
        class="btn btn-primary btn-block"
        >Customer Dashboard</a
      >
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
