{% extends "base.html" %} {% block title %}Privacy Policy{% endblock %} {% block
content %}
<div class="container mt-5">
  <div class="text-center mb-4">
    <h1>Privacy Policy</h1>
    <p class="lead">
      Your privacy is important to us. It is Pharmacy System's policy to respect
      your privacy regarding any information we may collect from you across our
      website.
    </p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Information We Collect</h2>
      <p>
        We only collect information about you if we have a reason to do so — for
        example, to provide our services, to communicate with you, or to make
        our services better.
      </p>
      <h2>How We Use Information</h2>
      <p>We use the information we collect in various ways, including to:</p>
      <ul>
        <li>Provide, operate, and maintain our website</li>
        <li>Improve, personalize, and expand our website</li>
        <li>Understand and analyze how you use our website</li>
        <li>Develop new products, services, features, and functionality</li>
        <li>
          Communicate with you, either directly or through one of our partners,
          including for customer service, to provide you with updates and other
          information relating to the website, and for marketing and promotional
          purposes
        </li>
      </ul>
      <h2>Information Sharing</h2>
      <p>
        We do not share your personal information with anyone except to comply
        with the law, develop our products, or protect our rights.
      </p>
      <h2>Security</h2>
      <p>
        We are committed to protecting your personal information and take
        reasonable measures to do so. However, remember that no method of
        transmission over the Internet, or method of electronic storage is 100%
        secure and reliable, and we cannot guarantee its absolute security.
      </p>
      <h2>Changes to This Privacy Policy</h2>
      <p>
        We may update our Privacy Policy from time to time. Thus, we advise you
        to review this page periodically for any changes. We will notify you of
        any changes by posting the new Privacy Policy on this page.
      </p>
      <h2>Contact Us</h2>
      <p>
        If you have any questions or suggestions about our Privacy Policy, do
        not hesitate to contact us.
      </p>
    </div>
  </div>
</div>
{% endblock %}
