{% extends "base.html" %} {% block title %}Register{% endblock %} {% block
content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2 class="mt-5">Register</h2>
    <form method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          required
        />
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          required
        />
      </div>
      <div class="form-group">
        <label for="date_of_birth">Date of Birth</label>
        <input
          type="date"
          class="form-control"
          id="date_of_birth"
          name="date_of_birth"
          required
        />
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender" required>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phone_number"
          name="phone_number"
          required
        />
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="terms"
          name="terms"
          required
        />
        <label class="form-check-label" for="terms"
          >I agree to the terms and conditions</label
        >
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="privacy"
          name="privacy"
          required
        />
        <label class="form-check-label" for="privacy"
          >I agree to the privacy policy</label
        >
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
{% endblock %}
