{% extends "base.html" %} {% block title %}Reset Password{% endblock %} {% block
content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2 class="mt-5">Reset Password</h2>
    <form method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter your username"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phone_number"
          name="phone_number"
          placeholder="Enter your phone number"
        />
      </div>
      <div class="form-group">
        <label for="new_password">New Password</label>
        <input
          type="password"
          class="form-control"
          id="new_password"
          name="new_password"
          placeholder="Enter your new password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
</div>
{% endblock %}
