{% extends "base.html" %} {% block title %}Submit Review{% endblock %} {% block
content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2 class="mt-5">Submit Review</h2>
    <form method="POST">
      <div class="form-group">
        <label for="rating">Rating</label>
        <select class="form-control" id="rating" name="rating" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="review">Review</label>
        <textarea
          class="form-control"
          id="review"
          name="review"
          rows="3"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit Review</button>
    </form>
  </div>
</div>
{% endblock %}
